node_modules/
npm-debug.log*
yarn-error.log*
__pycache__/
*.pyc
.env
.env.*
.env.local
.envrc
.env.backend*
.env.frontend*
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.json
terraform_backup/
**/terraform_backup/*
dist/
build/
coverage/
.DS_Store
